dialog {
  margin: auto;
  padding: 2rem;
  text-align: center;
  border: 5px crimson solid;
  border-radius: 1rem;

  h2 {
    font-size: 3rem;
    font-weight: bold;
    margin: 1rem;
  }
}

header h2 {
  font-family: monospace;
  font-size: 1.2rem;
}

main {
  section {
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  span {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  button {
    width: 6rem;
    display: flex;
    justify-content: center;

    &:disabled {
      border-color: green;
      background-color: lightgreen;
      color: black;
      
      &:hover {
        color: inherit;
        cursor: not-allowed;
      }
    }
  }

  ul {
    margin-top: 2rem;
  }
}
