*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100dvh;
}

input {
  height: 2rem;
  padding: 1rem 0.5rem;
  border: 3px solid crimson;
  border-radius: 0.5rem;
}

button {
  background: none;
  border: none;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  border: 3px solid crimson;

  &:hover {
    background: crimson;
    color: white;
  }
}

:disabled {
  cursor: not-allowed;
  color: gray;
  border-color: gray;
  background-color: lightgray;

  &:hover {
    background-color: lightgray;
    color: gray;
  }
}

li {
  font-family: monospace;
  font-size: 1.2rem;
}

div.inputGroup {
  display: flex;
  input {
    width: 10rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
  }

  button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

body {
  margin: auto;
  min-width: fit-content;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin-top: 5rem;
  margin-bottom: 1rem;
  text-align: center;
}

main {
  display: flex;
}

div.vbar {
  min-height: 90%;
  margin: 0 2rem;
  grid-area: vbar;
  background: lightgray;
  width: 5px;
}

ul,
ol {
  list-style: none;
}
